<div class="sidebar">
  <div class="sidebar-header">
    <h2>Subs Admin</h2>
  </div>
  <ul class="sidebar-menu">
    <li class="sidebar-item">
      <a routerLink="/subs" routerLinkActive="active">Subscriptions</a>
    </li>
    <li class="sidebar-item">
      <a routerLink="/subs/plan" routerLinkActive="active">Plans</a>
    </li>
    <li class="sidebar-item">
      <a routerLink="/subs/plan/create" routerLinkActive="active">Costs</a>
    </li>
    <li class="sidebar-item">
      <a routerLink="/subs/plan/create" routerLinkActive="active">Usage</a>
    </li>
  </ul>
  <div class="sidebar-footer">
    <p></p>
  </div>
</div>
